* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  /*background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */

  /* background: image repeat position/size (shorthand) */

  background: url(./assets/bg-mobile.jpg) no-repeat top center / cover;
}

#container {
  border: 1px solid red;
  height: 71.2rem;
  width: 36rem;

  margin: 0 auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 11.2rem;
}
